<% show_post ||= false %>

<div class='well span8'>
  <em><%= comment.body %></em>
  <% if show_post %>
    on <%= link_to comment.post.title, post_path(comment.post) %>
  <% end %>
  <br/>
  <p>by <%= comment.creator.username rescue 'anonymous' %> on <%= format_time(comment.created_at) %></p>
</div>